<mat-toolbar color = "primary">
  <span>Dijkstra Shortest Path Algorithm</span>
  <span class="toolbar-spacer"></span>
  <a href= "https://github.com/vokkantthakkar/shortestpath" mat-button>Github</a>
</mat-toolbar>



<div>  
  
<form class="parameters"[formGroup]="options" >

      <input type="number"matInput formControlName="Rows" placeholder="Rows: ">
      <input type="number" matInput formControlName="Columns" placeholder="Columns: ">
      <a mat-button [ngClass]="{'buttonSelected': (elementType == 'START')}" (click)="selectElement('START')">Start Point - {{elementType == 'START'?'ON':'OFF'}}</a>
      <a mat-button>End Point</a>
      <a mat-button>High Elevation</a>
      <a mat-button>Extreme Elevation</a>
      <a mat-button>SUBMIT</a>
    <!--
      <mat-form-field appearance="fill" [color]="elevationControl.value">
      <mat-select [formControl]="elevationControl">
      <mat-option value="primary">Red</mat-option>
      <mat-option value="accent">Accent</mat-option>
      <mat-option value="warn">Warn</mat-option>
      </mat-select>
      </mat-form-field>-->
</form>
</div>

<div class="gridContainer">
  <div *ngFor="let row of gridRows" class="rowDiv">
      <app-element *ngFor="let col of gridCols" [node]="gridArr[row][col]"></app-element>
  </div>
</div>

