.toolbar-spacer {
    flex: 1 1 auto;
  }

.parameters {
  margin-left: 8px ;
  flex: 1 1 auto;
}

.gridContainer{
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.rowDiv{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}

.buttonSelected{
  background: green ;
  color:white !important;
}